@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather+Sans:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
}

/* headings and logo */
header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 166, 158, 1);
    color: #5E6472;
    opacity: 0.9;
    padding: 10px;
    z-index: 19000;
}

#logo {
    margin-right: 10px;
    width: 75px;
    height: auto;
}

/* navigation */
nav {
    position: sticky;   
}

#menu {
    font-size: 130%;
    letter-spacing: 4px;
    line-height: 75px;
    align-items: center;
}

#menu li {
    /*float: right;*/
    /*list-style-type: none;*/
    display: inline-block;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: #4c515d;
    font-family: Lato;
}

#menu a:hover {
    border-bottom: 1px solid #3fa471;
}

.active {
    border-bottom: 1px solid #ff5c9d;
}

/*
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
*/

#hero {
    text-align: center;
    padding:30px;
    padding: 30px 30px 0px 30px;
    background-color: #FAF3DD;
}

#hero img {
    width: auto;
    height: 450px;
    border-radius: 10px;
    padding-top: 70px;
}

#featured-rentals {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    background-color: #FAF3DD;
}

#rentals-details {
    line-height: 1.8;
    text-align: left;
}

.rentals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    gap: 50px;
    align-items: center;
    text-align: right;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: fit-content;
    margin: 5px auto;
}

.rentals img {
    margin-right: 20px;
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

.rentals h3 {
    margin-bottom: 10px;
    font-family: Lato;
    font-weight: bold;
}

.rentals p {
    margin-bottom: 20px;
    font-family: Lato;
}

.button {
    background-color: #3fa471;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Lato;
}

.button:hover {
    background-color: #B8F2E6;
}

.button a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.button a:hover {
    text-decoration: underline;
}

#contact {
    background-color: #2ecc71;
    color: #fff;
    text-align: center;
    padding: 50px;
    font-family: Lato;
}

form {
    display: flex;
    flex-direction: column;
}

/* responsive design styles */
@media only screen and (max-width: 600px) {
    #featured-rentalss {
        flex-direction: column;
        align-items: center;
    }

    .rentals {
        margin-bottom: 20px;
    }
}

