@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather+Sans:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: 100%;
}

/* headings and logo */
header {
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(255, 166, 158, 1);
    color: #5E6472;
    opacity: 0.9;
    padding: 10px;
    z-index: 19000;
}

#logo {
    margin-right: 10px;
    width: 75px;
    height: auto;
    border-color: #373b43;
    border-radius: 5%;
}

/* navigation */
nav {
    position: sticky;   
}

#menu {
    font-size: 130%;
    letter-spacing: 4px;
    line-height: 75px;
    align-items: center;
}

#menu li {
    /*float: right;*/
    /*list-style-type: none;*/
    display: inline-block;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: #373b43;
    font-family: Lato;
    font-weight: bold;
}

#menu a:hover {
    border-bottom: 1px solid #3fa471;
}

/*
.active {
    border-bottom: 1px solid #ff5c9d;
}*/

/*
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
*/

#hero {
    text-align: center;
    padding:30px;
    padding: 30px 30px 0px 30px;
    background-color: #FAF3DD;
}

#hero img {
    width: auto;
    height: 450px;
    padding-top: 70px;
}

#featured-rentals {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

#rentals-details {
    line-height: 1.8;
    text-align: left;
}

.rentals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    gap: 50px;
    align-items: center;
    text-align: right;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: fit-content;
    margin: 5px auto;
    background-color: #FAF3DD;
}

.rentals img {
    margin-right: 20px;
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

.rentals h3 {
    margin-bottom: 10px;
    font-family: Lato;
    font-weight: bold;
}

.rentals p {
    margin-bottom: 20px;
    font-family: Lato;
}

.button {
    background-color: #3fa471;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Lato;
    font-size: 1em;
}

.button:hover {
    background-color: #B8F2E6;
}

.button a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.button a:hover {
    text-decoration: underline;
}

#contact {
    height: auto;
    margin-bottom: 40px;
    padding: 2em 5em;
    background-color: whitesmoke;
    color: #373b43;
    font-family: Lato;
    margin-bottom: 0px;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 5px;
}

#form {
    display: 45%;
    padding-left: 50px;
    justify-content: space-between;
    margin-top: 29px;
}

#form h3 {
    margin: 0; 
}

#form form {
    width: 100%;
}

#form form textarea {
    width: 100%;
}

input[type=text], input[type=email], textarea {
    font-family: Lato;
    width: 100%;
    background: #fff;
    border: none;
    resize: none;
    margin: 7px 0;
    padding: 5px 15px;
    border-radius: 5px;
}

input[type=submit] {
    font-size: 1em;
    color: #fff;
    background: #3fa471;
    border: none;
    margin: 10px;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    color: rgba(104, 100, 100, 0.3);
}

input:focus, textarea:focus {
    outline: none;
}

placeholder {
    color: #ff5c9d;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #FFA69E;
    color: #fff;
}

#footer {
    color: #373b43;
    font-family: Lato;  
    font-weight: bold;
}

/* media queries */
/* for large screens sizes 1200px */
@media screen and (max-width: 1200px) {
    #featured-rentals {
        flex-direction: column;
        align-items: center;
    }

    .rentals {
        grid-template-columns: 1fr;
        text-align: center;
        max-width: 100%;
    }

    .rentals img {
        margin-right: 0;
        margin-bottom: 15px;
    }

    #rentals-details {
        text-align: center;
    }
}

@media screen and (max-width: 950px) {
    #menu {
        display: none; /* menu disappears */
    }

    #featured-rentals {
        padding: 10px;
    }

    .rentals {
        gap: 20px;
        max-width: 100%;
    }

    .rentals img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }

    #rentals-details {
        text-align: center; /* texts will be centralized */
    }

    #form {
        padding-left: 0; /* remove padding left */
        display: 100%; /* changes width */
    }
}
